<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="MainCtrl">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Github Trending</h1>
      </ion-header-bar>
      <ion-content>
        <div class="card" ng-show="repos.length == 0">
          <div class="item item-text-wrap">
            Loading ...
          </div>
        </div>
        <div class="list" ng-show="repos.length &gt; 0">
          <a class="item" ng-repeat="repo in repos" href="{{ repo.repo_name.href }}">
            <h2>{{ repo.repo_name.text }}</h2>
            <p>{{ repo.repo_desc }}</p>
            <p>{{ repo.repo_meta.text }}</p>
          </a>
        </div>
      </ion-content>
      <ion-footer-bar>
        <div class="tabs">
          <a class="tab-item" ng-click="getTrend(&apos;today&apos;)">
            Today
          </a>
          <a class="tab-item" ng-click="getTrend(&apos;weekly&apos;)">
            This Week
          </a>
          <a class="tab-item" ng-click="getTrend(&apos;monthly&apos;)">
            This Month
          </a>
        </div>
      </ion-footer-bar>
    </ion-pane>
  </body>
</html>
